.products-card {
  border: 2px soild red !important;
  .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .title{
    -webkit-line-clamp: 2;
  }
}
